


/* .split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: #111;
}


.right {
  right: 0;
  background-color: red;
} */


button{
  min-height: 40px;
  border-radius: 5%;
  border-color:transparent;
  background-color: darkcyan;
  color: aliceblue;
  font-size: 20px ;
  border:none;
  outline:none;
  padding: 0 15px;
  margin-top:30px;
  box-shadow: 5px 5px 15px -5px rgba(0,0,0, 0.3) ;


}
button:hover{
  background-color: royalblue;
}
.btn_div{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.Content{
  position:center;
        z-index:3;
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
}

@media screen and (max-width: 600px) {
  .Content {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

